# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
build*
dist

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# lock
package-lock.json

# misc
lapp multiple file code test
.scannerwork
webpack-report
bit-pipeline-oidc-roles.md